@import "tailwindcss";

.swiper-pagination-bullet {
  @apply w-3 h-3 bg-gray-500 opacity-90 rounded-full transition-all;
}

.swiper-pagination-bullet-active {
  @apply px-3 bg-blue-500 opacity-100 scale-125;
}

.swiper-button-next,
.swiper-button-prev {
  @apply w-10 h-10 p-2 bg-black/60 text-white rounded-full shadow-lg;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  @apply bg-blue-600;
}
